<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <!--<link rel="stylesheet" href="/assets/css/burger_style.css">-->
    <!--<title>Document</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1 class="burger-h1">Eat the Burger</h1>-->
    <!--<div>-->
        <!--<form class="form">-->
            <!--<input type="text" name="newBurger">-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="newBurgers">-->
        <!--{{ #each burgers }}-->
            <!--{{ #unless devoured }}-->
            <!--<form action="/burger"{{this.id}}?_method="PUT" method="POST">-->
                <!--<div class="input-group">-->
                    <!--<li class="form-control">{{id}}. {{burger_name}}</li>-->
                    <!--<div class="input-group-btn">-->
                        <!--<button class="devourThis" type="submit">DEVOUR</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
    <!--</div>-->



<!--</body>-->
<!--</html>-->