<div>
    <h2>Add A Burger</h2>
    <form class="form">
        <label for="newBurger">Burger Name</label>
        <input type="text" id="newBurger" name="name">
        <button class="submitButton">Add Me</button>
    </form>
</div>
    <h3>Burgers Yet to be Eaten</h3>
    <div class="newBurgers">
        {{#each burgers}}
            {{#unless this.devoured}}
            <div id="eatMeList">
                {{this.burger_name}}
                <button id="eatMe">Devour</button>
            </div>
            {{/unless}}
        {{/each}}
    </div>
    <h3>Burgers Allready Eaten</h3>
    <div class="devouredBurgers">
        {{#each burgers}}
            {{#if this.devoured}}
            <div id="devoured">
                {{this.burger_name}}
                <button id="deleteMe">Delete Burger</button>
                <button id="moveMe">Re-order Burger</button>
            </div>
            {{/if}}
        {{/each}}
    </div>